PORT=8080
INTERNAL_SECRET=

WHATSAPP_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_VERIFY_TOKEN=

WHATSAPP_TEMPLATE_NAME=wia_lead_confirmation
WHATSAPP_TEMPLATE_LANG=es

CALENDLY_URL=https://calendly.com/wiainvestments/30min
SITE_URL=https://www.wiainnercircle.com
